extends ../main.layout.pug

block variables
  - var title = 'Women'
  - var current = title
  -
    var Recommendation = [
                   ['women2','BLAZE LEGGINGS', '52'],
                   ['women3','ALEXA SWEATER', '25'],
                   ['women4','AGNES top', '30'],
                   ['women5','SYLVA SWEATER', '40']
                   ]

block content
  section.breadcrumb
    .container.breadcrumb_container
      .breadcrumb_left New Arrivals 
      .breadcrumb_right Home / Men / 
        span New Arrivals

  section.product_slider
    .product_slider_image
      +image('products/women1.png', 'slide_img')
    buttons.product_slider_btn.product_slider_prev
      i(class="fa fa-angle-left" aria-hidden="true")
    buttons.product_slider_btn.product_slider_next
      i(class="fa fa-angle-left" aria-hidden="true")

  section.product_description
    .container.product_description-container
      .product_description_title WOMEN COLLECTION
      .product_description_devider
      .product_description_tagline Moschino Cheap And Chic
      .product_description_specification Compellingly actualize fully researched processes before proactive outsourcing. Progressively syndicate collaborative architectures before cutting-edge services. Completely visualize parallel core competencies rather than exceptional portals. 
      .product_description_feature
        .feature_fractions
          .fractions_left MATERIAL:
          .fractions_right COTTON
        .feature_fractions
          .fractions_left DESIGNER:
          .fractions_right BINBURHAN
      .product_description_price $561
      .product_description_filters
        .product_description_filter CHOOSE COLOR
          select(name="chooseColor" class="product_description_select")
            option(value="red") Red
            option(value="black") black
            option(value="brown") brown
        .product_description_filter CHOOSE SIZE
          select(name="chooseColor" class="product_description_select")
            option(value="xxl") XXL
            option(value="m") M
            option(value="s") S
        .product_description_filter QUANTITY
          input(type="text" class="product_description_input")
      button.product_description_button Add to Cart

  section.recommendations
    .container
      .recommendations_title you may like also
      ul.products_items
        each item in Recommendation
          li.products_item
            a(href="#" class="products_item_img" style=`background-image:url('/assets/img/products/${item[0]}.png')`)
            a(href="#" class="products_item_desc") #{item[1]}
            .products_item_price $#{item[2]}
            button.button.products_items_button Add to Cart
            .button_wrap
              button.button_photo.button_photo-size
                +image('arrows.svg', 'arrows_img')
              button.button_photo.button_photo-liked
                i(class="fa fa-heart-o" aria-hidden="true")

