-
 var headerNav = [
               ['Home', 'index.html'],
               ['Man', 'man.html'],
               ['Women', 'women.html'],
               ['Kids', '#'],
               ['Accoseriese', '#'],
               ['Featured', '#'],
               ['Hot Deals', '#']
              ]
-
 var dropDown_women = ['Dresses',
                       'Tops',
                       'Sweaters/Knits',
                       'Jackets/Coats',
                       'Blazers',
                       'Denim',
                       'Leggings/Pants',
                       'Skirts/Shorts',
                       'Accessories']
-
 var dropDown_men = ['Tees/Tank tops',
                     'Shirts/Polos',
                     'Sweaters',
                     'Sweatshirts/Hoodies',
                     'Blazers',
                     'Jackets/vests']


header.header
  .header_top
    .container.header_container
      a(href="/index.html").logo
        +image('logo.png', 'logo_img')
        .logo_title BRAN
          span d
      .search
        button.button.button_browse Browse
          .dropDown.browse_dropDown
            ul.dropDown_list 
              .dropDown_list_title
                a.dropDown_link(href="women.html") Women
              each item in dropDown_women
                li.dropDown_item 
                  a.dropDown_link #{item}
            ul.dropDown_list 
              .dropDown_list_title
                a.dropDown_link(href="man.html") Men
              each item in dropDown_men
                li.dropDown_item
                  a.dropDown_link #{item}

        input.search_input(placeholder="Search for Item...")
        button.button.button_search
          i(class="fa fa-search")
      .cart
        +image('cart.png', 'cart_img')
        .cart_ellipse 2
      .authorization
        button.button.button_account My Account
  .header_bottom
    include ../common/nav.pug
    +nav('nav', headerNav, current)




