.button {
  font-family: "lato-light";
  color: $text-color;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  background: #f9f9f9;
  background: linear-gradient(to bottom, #f9f9f9 0%,#f3f3f3 100%);  
  border: 1px solid #e6e6e6;
  cursor: pointer;
  display: block;
  outline: none;
}
.button_browse {
  padding-right: 25px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  position: relative;
  &::before {
    content: ''; 
    position: absolute;
    right: 9px;
    top: 16px;
    border: 4px solid transparent;
    border-top: 4px solid #838383;
  }
}
.button_search {
  width: 35px;
  padding-left: 11px;
  padding-right: 11px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #a4a4a4;
}
.button_account {
  margin-left: 25px;
  padding-left: 19px;
  padding-right: 30px;
  background: $red;
  color: white;
  font-family: "lato-regular";
  border: none;
  position: relative;
  &::before {
    content: ''; 
    position: absolute;
    right: 12px;
    top: 16px;
    border: 4px solid transparent;
    border-top: 4px solid white;
  }
  &:hover {
    background: #f05469;
  }
}
.products_items_button {
  position: absolute;
  top: 98px;
  left:50%;
  transform: translateX(-50%);
  width: 123px;
  height: 39px;
  padding-left: 35px;
  background: transparent;
  color: white;
  font-family: "lato-bold";
  font-size: 13px;
  border-radius: 2px;
  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-image:url('/assets/img/cart2.svg');
    background-size: cover;
    width: 23px;
    height: 22px;
  }
  display: none;
}
.products_button {
  margin: 18px auto;
  margin-bottom: 12px;
  background: $red;
  color: white;
  border: none;
  font-family: "lato-bold";
  font-size: 16px;
  padding: 18px 43px 18px 25px;
  position: relative;
  &:hover {
    background: #f05469;
  }
}
.button_subscribe {
  font-family: inherit;
  background: $red;
  color: white;
  border: none;
  padding: 17px 22px;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  &:hover {
    background: #f05469;
  }
}
.button_photo{
  display: block;
  background: transparent;
  border: 1px solid white;
  flex: 1;
  cursor: pointer;
  color: white;
  border-radius: 2px;
  margin-right: 8px;
  font-size: 16px;
  &:last-child {
    margin-right: 0;
  }
}
.white_button {
  box-sizing: border-box;
  border: 1px solid $red;
  border-radius: 2px;
  padding: 0 46px;
  margin: 0;
  background: transparent;
  font-size: 16px;
  color: $red;
  &:hover {
    background: $red;
    color: white;
  }
}
.product_description_button {
  display: block;
  cursor: pointer;
  outline: none;
  width: 537px;
  height: 55px;
  font-family: "lato-bold";
  font-size: 16px;
  color: $red;
  background: white;
  border: 1px solid $red;
  box-sizing: border-box;
  text-align: left;
  padding-left: 247px;
  position: relative;
  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 207px;
    transform: translateY(-50%);
    background-image:url('/assets/img/redCart.svg');
    background-size: cover;
    width: 26px;
    height: 24px;
  }
}

