.recommendations {
  margin-top: 25px;
  margin-bottom: 37px;
}
.recommendations_title {
  font-family: "lato-black";
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 4px;
}